* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
     height: 100vh;
  width: 100%;
    background-color: rgb(238, 237, 235);

}

.leftbox {
    width: 600px;
}

.leftbox img {
    width: 350px;
    margin-top: 100px;
}

.leftbox p {
    font-size: 32px;
    font-family: Helvetica;
}

.rightbox {
    width: 400px;
     height: 400px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color:whitesmoke;
    padding: 20px;
}

.inputEmail, .inputPassword {
    margin-bottom:10px ;
    height:50px;
    border-radius: 8px;
}

.inputEmail input, .inputPassword input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
}

.inputEmail input:focus, .inputPassword input:focus {
    outline: none;
     border: 1px solid #0866ff;
    border-radius: 5px;
}

.loginbtn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

.loginbtn button {
    height: 100%;
    width: 100%;
     background-color: #0866ff;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.loginbtn p {
    color:  #0866ff;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.loginbtn button:hover {
background-color: #0867ffdf;
}

rightbox a {
    text-decoration: none;
     color: #0867ffdf;
     font-size: 16px;
     text-align: center;
}

.rightbox a:hover {
text-decoration: underline;
}

hr {
    margin-top: 25px;
}

.registerbtn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

.registerbtn button {
    height: 100%;
    width: 60%;
      background-color: #42b72a;
      color: white;
      border: none;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      margin: 0% 20%;
}

.registerbtn button:hover {
background-color: #40ab2b;
}



